<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Trip Planner</title>
	</head>
	<body>
        <section class="hero">

        </section>
		<section class="wrapper">
			<form action="" autocomplete="off" class="form">
				<div class="input-container">
					<input
						type="text"
						id="country-input"
						name="country"
						placeholder="Country..."
					/>
				</div>
				<button class="form__submit">Submit</button>
			</form>
		</section>
	</body>
</html>
