.hero {
    color: #fff;
    background-color: var(--main_blue);
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 5vw;
}

.headline {
    display: flex;
    flex-direction: column;
    max-width: 42rem;
}

.headline .headline__head {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 4.5em;
    margin-bottom: 2.5vh;
    line-height: 1.4;
}

.headline__subhead {
    font-family: 'Work Sans';
    font-size: 2.5em;
    line-height: 1.4;
    margin-bottom: 5vh;
}

.hero__btn {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    width: 60%;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.3em;
    cursor: pointer;
}
