@import './styles/trip.scss';
@import '../../styles/reset.scss';
@import '../../styles/header.scss';
@import '../../styles/base.scss';
@import '../../styles/form.scss';

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trips_container {
    height: 100vh;
    width: 100%;
    background-color: var(--blue_purple);
    position: relative;
    overflow: hidden;
}

.error_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h1 {
    color: #fff;
        text-align: center;
        font-family: 'Work Sans';
        font-size: 2.5em;
        line-height: 1.4;
        margin-bottom: 5vh;
    }
    & button {
        color: #fff;
        border: 1px solid #fff;
        background-color: transparent;
        width: 60%;
        font-size: 2em;
        font-weight: 700;
        padding: 0.3em;
        cursor: pointer;
        font-family: 'Roboto';
        &:hover {
            background-color: #fff;
            color: var(--blue_purple);
        }
    }
}

.overlay {
    background-color: #000;
    opacity: 0.5;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
}

.container.blur {
    filter: blur(1px);
}
