<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trip Planner</title>
</head>

<body>
  <!-- HEADER SECTION -->
  <!-- <header class="header-container container"> -->
  <!--   <div class="brand">LOGO</div> -->
  <!--   <ul class="nav"> -->
  <!--     <li class="nav__item"><a href="#">about us</a></li> -->
  <!--     <li class="nav__item"><a href="#">discover</a></li> -->
  <!--     <li class="nav__item"><a href="trips.html">my trips</a></li> -->
  <!--   </ul> -->
  <!-- </header> -->

  <!-- HERO SECTION -->
  <section class="hero container">
    <div class="headline">
      <h1 class="headline__head"> We help you plan your trips
      </h1>
      <div class="headline__subhead">
        <p>Everything you need in one place</p>
      </div>
      <button class="hero__btn"><a href="trips.html">My Trips</a></button>
    </div>
  </section>
</body>

</html>
